.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    margin-left: 160px;
    padding: 6px 8px 6px 16px;
}  
.header title {
    order: 1;
}
.datetime {
    order: 2;
    font-size: 25px;
    color: #818181;
}
.nav-bar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /* display: block; */
}
.nav-bar a:hover{
    color: black;
}